:root {
  /**
   * colors
   */
  --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
  --rich-black-fogra-29: hsl(217, 28%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
  --bittersweet: hsl(5, 100%, 69%);
  --smoky-black: rgb(7, 6, 1);
  --gainsboro: hsl(0, 0%, 88%);
  --black_90: hsla(0, 0%, 0%, 0.9);
  --cultured: hsl(200, 12%, 95%);
  --salmon: hsl(5, 100%, 73%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */
  
  --ff-roboto: 'Roboto', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;

  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
   * spacing
   */

  --section-padding: 60px;

}

/* Desktop ke liye*/
@media (min-width: 992px) {
   .mynavbar{
    background-color: var(--white) !important;
     position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.mynavbar .logo {
    color: var(--bittersweet);
    font-weight: bold;
    font-size: 40px;
    margin-top: 6px;
    margin-left: 40px;
}

.mynavbar .app {
    margin-left: 200px;

}


.mynavbar .nav-link {
    color: black;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px;

}

.mynavbar .nav-link:hover {
    color: var(--bittersweet);
}

.mynavbar .bi {
    color: black;
    font-weight: 900;
    font-size: 20px;
    margin-top: px;
    margin-right: 20px;
}

.mynavbar .bi:hover {
    color: var(--bittersweet);
}


.mynavbar .gap {
    margin-right: 40px;
} 

.sliderh {
    margin-bottom: 150px;
    margin-right: 550px;
    width: 500px;
    text-align: left;
}

.sliderh h1 {
    color: var(--bittersweet);
    font-weight: bold;
    font-weight: 900;
    font-family: sans-serif;
}

.sliderh .button {
   font-weight: 700;
   background-color: var(--white);
   color: black;
   border: none;
   padding: 14px 36px;
   margin: 10px;
   cursor: pointer;
   transition: all 0.3 ease;
}

.sliderh .button:hover {
    background-color: var(--bittersweet);
    color: white;
    transform: translateY(-2px);
}

.line {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.line img {
 width: 400px;
 height: 350px;
}

.line h5 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.card-img-overlay button {
   font-weight: 700;
   background-color: var(--white);
   color: black;
   border: none;
   padding: 14px 36px;
   margin: 10px;
   cursor: pointer;
   transition: all 0.3 ease;
   margin-top: 190px;
   margin-left: 50px;
}

.card-img-overlay button:hover {
    background-color: var(--bittersweet);
    color: white;
    transform: translateY(-2px);
}

.Products h1 {
    text-align: center;
    
}

.Products button {
    font-weight: 700;
    background-color: var(--white);
    color: black;
    border-radius: 40px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid;
    text-align: center;
}

.Products .center {
    margin-left: 450px;
    margin-top: 30px;
}

.Products button:hover {
    background-color: var(--bittersweet);
    color: white;
}

.price {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    border: none;
}

.card-body h6 {
    text-align: center;
    color: gray;
}

.card-body h6:hover {
color: var(--bittersweet);
}

.card-body h5 {
    text-align: center;
    color: var(--black);
}

.card-body h5:hover {
    color: var(--bittersweet);
}

.card-body p {
    text-align: center;
    color: var(--bittersweet);
}

.flex {
    display: flex;
    margin: 10px;
}

.card1 {
    width: 100;
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 40px;
}

.card-img {
    width: 100%;
}

.card-title {
    color: black;
    margin-top: 10px;
}

.card-img-overlay {
    margin: 20px 40px
}

.card-img-overlay h5{
    margin-top: 10px;
    
}


.card-img-overlay h2 {
    font-size: 40px;
}

.card-img-overlay  p {
        font-size: 20px;
}

.card-img-overlay  p:hover{
    color: var(--bittersweet);
}

.special {
    display: flex;
    gap: 30px;
}

.special img {
    width: 100%;
}


.man {
    margin-left: 55px;
    background-color: aqua;
}

.size {
    width: 100%;
    height: 440px;
}

.card-img-overlay h5  {
    color: var(--white);

}

.Facilities {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-left: 100px;

}

.img-fluid {
    width: 200px;
}

/* .img-fluid:hover {
} */

.insta {
    width: 100%;
    display: flex;
}

.container {
display: flex;
gap: 20px;
}


.container .mmm {
border-radius: 1px;
}

.container .mmm:hover {
    background-color: var(--bittersweet);
}

.container .nnn {
    margin-left: 800px;
}

.container .aaa {
    font-size: 50px;
    font-weight: bold;
    color: black;

}

.inp {
    margin-top: 20px;
}

.inp .la {
      width: 300px;
      height: 20pxpx;
      margin-left: 190px;
      border: none;
}


 

}




/* Mobile ke liye */
@media (max-width: 991px) {
    
.mynavbar{
background-color: var(--white) !important;
position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.mynavbar .logo {
    color: var(--bittersweet);
    font-weight: bold;
    font-size: 40px;
    margin-top: 6px;
    margin-left: 20px;
}

.mynavbar .app {
    margin-left: 20px;

}


.mynavbar .nav-link {
    color: black;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 0px;

}

.mynavbar .nav-link:hover {
    color: var(--bittersweet);
}

.mynavbar .bi {
    color: black;
    font-weight: 900;
    font-size: 20px;
    margin-top: px;
    margin-right: 20px;
}

.mynavbar .bi:hover {
    color: var(--bittersweet);
}


.mynavbar .gap {
    margin-right: 40px;
} 

/* slider section  */

.sliderh {
    margin-bottom: 110px;
    margin-right: 0px;
    width: 300px;
   
    padding-right:60px;
}

.sliderh h1 {
    color: var(--bittersweet);
    font-weight: bold;
    font-weight: 900;
    font-family: sans-serif;
}

.sliderh .button {
   font-weight: 600;
   background-color: var(--white);
   color: black;
   border: none;
   padding: 14px 36px;
   margin: 0px;
   cursor: pointer;
   transition: all 0.3 ease;
}

.sliderh .button:hover {
    background-color: var(--bittersweet);
    color: white;
    transform: translateY(-2px);
}



.line img {
 width: 100%;
 height: 350px;
 
}

.line h5 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.card-img-overlay button {
   font-weight: 700;
   background-color: var(--bittersweet);
   color: black;
   border: none;
   padding: 14px 36px;
   margin: 10px;
   cursor: pointer;
   transition: all 0.3 ease;
   margin-top: 190px;
   margin-left: 50px;
}




.Products h1 {
    text-align: center;
    
}

.Products button {
    font-weight: 400;
    background-color: var(--white);
    color: black;
    border-radius: 40px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid;
    text-align: center;
}

.Products .center {
    margin-left: 0px;
    margin-top: 0px;
}

.Products button:hover {
    background-color: var(--bittersweet);
    color: white;
}

.price {

    gap: 10px;
    justify-content: center;
}

.card {
    border: none;
}

.card-body h6 {
    text-align: center;
    color: gray;
}

.card-body h6:hover {
color: var(--bittersweet);
}

.card-body h5 {
    text-align: center;
    color: var(--black);
}

.card-body h5:hover {
    color: var(--bittersweet);
}

.card-body p {
    text-align: center;
    color: var(--bittersweet);
}

.flex {
    display: flex;
    margin: 0px;
}

.card1 {
    width: 100%;
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.card-img {
    width: 100%;
}

.card-title {
    color: black;
    margin-top: 0px;
}

.card-img-overlay {
    margin: 0px 0px
}

.card-img-overlay h5{
    margin-top: 0px;
    
}


.card-img-overlay h2 {
    font-size: 40px;
}

.card-img-overlay  p {
        font-size: 20px;
}

.card-img-overlay  p:hover{
    color: var(--bittersweet);
}




.special img {
    width: 100%;
}


.man {
    margin-left: 0px;
    background-color: aqua;
}

.size {
    width: 100%;
    height: 140px;
}

.card-img-overlay h5  {
    color: var(--white);

}

.Facilities .lll {
    gap: 10px;
    justify-content: center;
    margin-left: 0px;
    width: 200px;
    height: 100px;
    padding-left: 90px;
}

.img-fluid {
    width: 100%;
}

/* .img-fluid:hover {
} */

.insta {
    width: 100%;

}

.container {

gap: 10px;
}


.container .mmm {
border-radius: 1px;
}

.container .mmm:hover {
    background-color: var(--bittersweet);
}

.container .nnn {
    margin-left: 0px;
}

.container .aaa {
    font-size: 50px;
    font-weight: bold;
    color: black;

}

.inp {
    margin-top: 0px;
}

.inp .la {
      width: 300px;
      height: 20pxpx;
      margin-left: 0px;
      border: none;
}




}